.navegacio{
    background-color: black;
    height: 50px;
    width: 2300px; 
}

.logo{
    margin: 5px 20px 5px 20px;
}

.pelicules{
    margin: 0px 0px 0px 20px;
    border-radius: 5px 5px 5px 5px;   
}

.titols{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.webpelicules{
    background-color: #222;
}

.nom{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
    position: relative;
    top: -10px;
    left: 20px;

}


.documentalsvistos{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.Películesvistes{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.seriesvistes{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.any{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #fff;
    position: relative;
    top: -10px;
    left: 20px;
}









