
:root{
    --colorT: #ffffff;
   --color0: #424B54;
   --color1: #E1CE7A;
   --color2: #EBCFB2;
   --color3: #C5BAAF;
   --colorB: limegreen;
}


@font-face {
    font-family: 'Basketball';
    src: url('../fonts/lebronjames/Basketball.eot');
    src: url('../fonts/lebronjames/Basketball.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lebronjames/Basketball.woff2') format('woff2'),
        url('../fonts/lebronjames/Basketball.woff') format('woff'),
        url('../fonts/lebronjames/Basketball.ttf') format('truetype'),
        url('../fonts/lebronjames/Basketball.svg#Basketball') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

   h1{  text-align: center; }

@media screen and (max-width:480px){

    /* aqui va el disseny per smartphone */

    body{
        background-color: var(--color0);
    }

    h1{
        font-size: 1rem;
    }


}

@media screen and (min-width:481px) and (max-width:1279px){

    /* aqui va el disseny per tablet */

    body{
        background-color: yellow;
    }

    h1{
        font-size: 2rem;
    }
    
    
    p{
        padding: 1rem;
        background-color: var(--color0);
        cursor: zoom-in;
        color: var(--colorT);
    }

    .progres{
        height: 10px;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: var(--colorB);
        scale: 0 1;
        animation: analitzador linear;
        animation-timeline: scroll();
                 -o-animation-timine: scroll();
            -moz-animation-timine: scroll();
        -webkit-animation-timine: scroll();
                    -animation-timine: scroll();
        transform-origin: left;
    }

   @keyframes analitzador {
        to{
            scale: 1 1;
        }
   }



}


@media screen and (min-width:1280px){

    /* aqui va el disseny per ordinadorb */

    body{
        background-color: var(--color2);
    }

    h1{
        font-size: 4rem;
        font-family: 'Basketball';
        font-weight: normal;
        font-style: normal;
        color: var(--colorT)
    }
    
    p{
        columns: 2;
    }
}


